/**/

body {
  padding-top: 54px;
}


#profile-image {

  float: left;


width:100%;

  margin-top: 20px;
  margin-right: 20px;
}
#about-me {
	
	width: 90%;
	margin-left: 75%;
}




p {
	padding: 10px;
	padding-top: 20px;
  	margin-bottom: 20px;
	font-size: 1.5em;
	color:grey;
	width: 100%;
}
#connect-with-me-area {
  width: 100%;

  /* Box-model */
  padding: 30px 30px 43px;

  /* Positioning */
  margin-top: 32px;

  /* Visual */
  background-color: #fff;
}

.connect-with-me-header {
  /* Positioning */
  margin-bottom: 15px;
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 25px;
  font-weight: bold;
  color: grey;
}

.social {
  width: 55px;

  /* Box-model */
  height: 55px;
}

#images {
  /* Box-model */
  padding-top: 15px;

  /* Typography */
  text-align: center;
}


.projects {
  width: 60%;
  text-align: center;

}

h1 {
  text-align: center
}


#connect {
  text-align: center;

}